# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.VR_Base.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\billy\Unity\Projects\Personal\VR_Base\.idea\.idea.VR_Base\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
